/*Generales*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
  }


  *, *:before, *:after {
    box-sizing: inherit;
  }


  body { 
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
  }



 

/*Hero*/
.img-bank .bg {
     background-image: url(../img/img_1.avif);
     background-repeat: no-repeat;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 104%;
     z-index: 1;
}

.img-bank::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0.32;
}

/*Login*/

.container {
    display: flex;
    justify-content: flex-end;
}



.form-container-main {
    width: 102.6rem;
    background-color: #0093FF ;
    height: 58rem;
    position: fixed;
}


.title {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.pictures-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.pictures-login img {
    height: 20rem;
    border-radius: 5rem;
}

.label-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.user {
    width: 32rem;
    height: 4rem;
    border-radius: 4rem;
}

.password {
    width: 32rem;
    height: 4rem;
    border-radius: 4rem;
}

.button-main {
    margin-top: 4rem;
    padding: 2rem;
    width: 32rem ;
    background-color: #037bc0;
    border-radius: 6rem;
}

span {
    color: #09B81E;
}

/*Pag Options*/

.c.container-img_1 .container-img_1 {
    width: 10%;
}